img{
  display: inline-block;
}
h1{
  display: inline-block;
  color: #FBF5DD;
}
.header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  color: #FBF5DD !important;
  background-color: #16404D;
  border-radius: 0px;
  border: 1px solid #DDA853;
}
.logo-header{
  display: flex;
  margin: 15spx 50px;
}

nav .navbar-nav li a{
  color: #FBF5DD !important;
  }


